* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: rgba(255, 255, 255, 1);
  --pragraph-text-color: rgba(255, 255, 255, 0.5);
  --primary-btn-color: rgba(230, 83, 60, 1);
  --section-bg-color: rgba(34, 34, 34, 1);
  --sub-heading-f-size: 48px;
  --sub-heading-f-weight: 900;
  --pragraph-font-size: 16px;
  --pragraph-font-weight: 400;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: rgba(0, 0, 0, 1);
  color: var(--primary-text-color);
}
/* Common Class */

.btn {
  padding: 16px 42px;
  background-color: rgba(230, 83, 60, 1);
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-text-color);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.btn2 {
  padding: 16px 40px;
  background-color: rgba(230, 83, 60, 0);
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
  color: var(--primary-text-color);
  border-radius: 50px;
  border: 1px solid var(--primary-btn-color);
  cursor: pointer;
}
.btn2:hover {
  background-color: var(--primary-btn-color);
  transition: ease-in-out 0.5s;
}
.container {
  width: 73%;
  max-width: 1060px;
  margin: 0 auto;
}
.flex {
  display: flex;
}

/* main style */

#menu_bar {
  /* margin-top: 50px; */
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
}
#menu_bar i {
  display: none;
}
#menu_bar h2 {
  font-size: 38px;
  font-weight: var(--sub-heading-f-weight);
  color: var(--primary-btn-color);
}
.menu-item {
  gap: 47px;
  font-size: 18px;
  align-items: center;
  border: 1px solid var(--pragraph-text-color);
  padding: 8px 12px;
  border-radius: 50px;
}
.menu-item li,
a {
  list-style: none;
  text-decoration: none;
  color: var(--primary-text-color);
}
li a:hover {
  color: var(--primary-btn-color);
  transition: 0.5s;
}
.bg-item {
  background-color: var(--primary-btn-color);
  padding: 8px 10px;
  border-radius: 20px;
}
#hero-header {
  background: linear-gradient(rgba(17, 17, 17, 1), rgba(119, 119, 119, 0));
}

.banner_container {
  margin-top: 35px;
  gap: 54px;
  align-items: center;
}
.banner_content {
  width: 60%;
}
.banner_content h1 {
  font-size: 78px;
  font-weight: var(--sub-heading-f-weight);
}

.banner_content p {
  font-size: var(--pragraph-font-size);
  font-weight: var(--pragraph-font-weight);
  color: var(--pragraph-text-color);
  margin: 28px 0;
  line-height: 30px;
}

.banner_image {
  position: relative;
}
.banner_image img {
  width: 100%;
}

.tool-tip {
  width: 193px;
  position: absolute;
  top: 20%;
  right: -14%;
  padding: 17px 24px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
.tool-tip h2 {
  font-size: 40px;
  margin-bottom: 5px;
  font-weight: var(--sub-heading-f-weight);
}
.tool-tip p {
  font-size: 13px;
  color: var(--pragraph-text-color);
}
.tool-tip2 {
  width: 208px;
  position: absolute;
  bottom: 15%;
  left: -20%;
  padding: 17px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  align-items: center;
  gap: 10px;
}
.circle {
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-btn-color);
}
/* habits Section Related style */

#habit {
  margin: 88px 0 100px 0;
}

.heading {
  margin-bottom: 58px;
  width: 671px;
  text-align: center;
}
.heading h2 {
  font-size: var(--sub-heading-f-size);
  font-weight: var(--sub-heading-f-weight);
  margin-bottom: 14px;
}
.heading p {
  font-size: var(--pragraph-font-size);
  color: var(--pragraph-text-color);
  line-height: 28px;
}
/* Habit-Image Section styl */
.habit_box {
  gap: 40px;
  align-items: center;
}
.habit_card {
  width: 231px;
  padding: 3px;
  text-align: center;
}
.habit_card img {
  margin-bottom: 30px;
  border-radius: 50%;
  border: 4px solid var(--section-bg-color);
}
.habit_card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}
.habit_card p {
  font-size: var(--pragraph-font-size);
  color: var(--pragraph-text-color);
}

/* Run Extra related style */
#run {
  margin-bottom: 100px;
}
.run_content {
  width: 443px;
}
.run_content h2 {
  font-size: var(--sub-heading-f-size);
  font-weight: var(--sub-heading-f-weight);
  margin-bottom: 14px;
}
.run_content p {
  font-size: var(--pragraph-font-size);
  color: var(--pragraph-text-color);
  margin-bottom: 34px;
  line-height: 25px;
}
.run_container {
  border-radius: 18px;
  padding: 40px 54px 40px 54px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--section-bg-color);
}
.gym_img {
  margin-bottom: 88px;
}
.run-image img {
  max-width: 366px;
  border-radius: 10px;
}
/* Trainings and Exercises Related Style */
#training {
  margin-bottom: 88px;
}
.gym-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
}
.gym-container img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}
.box-2 {
  grid-column: 2 / span 2;
}
.box-4 {
  grid-column: 1 / span 2;
}

/* Meet Our Team Related style */

.team_image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  padding: 20px;
  border-radius: 10px;
  background-color: var(--section-bg-color);
  gap: 20px;
}

.team {
  border-radius: 10px;
  padding-top: 10px;
  background-position: center;
  background-size: cover;
}

.overlay {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}
.overlay h3 {
  position: relative;
  top: 120px;
}
.overlay p {
  position: relative;
  top: 120px;
  font-size: var(--pragraph-font-size);
  color: var(--pragraph-text-color);
}

@media screen and (max-width: 475px) {
  #menu_bar i {
    display: block;
    font-size: 25px;
  }
  #menu_bar {
    width: 100%;
    padding: 20px 20px 0 20px;
    align-items: center;
  }

  .menu-item {
    display: none;
  }
  #menu_bar h2 {
    font-size: 28px;
  }
  /* Menu section end */
  .banner_container {
    width: 100%;
    flex-direction: column;
    margin: 50px 10px;
  }
  .banner_content {
    width: 100%;
    padding: 0 10px;
  }

  .banner_content h1 {
    font-size: 36px;
  }
  .btn {
    padding: 14px 20px;
  }
  .btn2 {
    padding: 14px 20px;
  }
  /* .banner_image{
  padding: 0 ;
} */
  .banner_image img {
    width: 100%;
    padding: 10px;
  }
  .tool-tip {
    width: 120px;
    top: 22%;
    right: 9%;
  }
  .tool-tip h2 {
    font-size: 20px;
  }
  .tool-tip p {
    font-size: 11px;
  }

  .tool-tip2 {
    width: 120px;
    bottom: 19%;
    left: -2%;
    padding: 10px 10px;
  }
  .tool-tip2 h2 {
    font-size: 20px;
  }
  .tool-tip2 p {
    font-size: 11px;
  }
  .circle {
    width: 50px;
    height: 40px;
  }
  /* havbit Section related style */
  .habit_container {
    margin: 0 40px;
  }
  .heading {
    width: 318px;
  }
  .heading h2 {
    font-size: 32px;
  }
  .heading p {
    font-size: 14px;
    line-height: 25px;
  }
  .habit_box {
    flex-direction: column;
  }
  /* Run section related style */
  .run_container {
    width: 353px;
    flex-direction: column;
    text-align: center;
  }
  .run_container {
    margin: 0 auto;
    border-radius: 18px;
    padding: 40px 40px 40px 32px;
  }
  .run_content {
    width: 287px;
  }
  .run_content h2 {
    font-size: 32px;
  }
  .run_content p {
    margin-bottom: 20px;
  }
  .run_content .run-btn {
    margin-bottom: 15px;
  }
  .run-image img {
    width: 100%;
    margin-left: 5px;
    text-align: center;
  }
  /* gym */
  .gym-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
  }
  .box-2 {
    grid-column: auto;
  }
  .box-4 {
    grid-column: auto;
  }
  .box-3,
  .box-6 {
    display: none;
  }
  /* Team Section  */
  .team_content h2 {
    font-size: 40px;
  }
.team_image{
  width: 100%;
  grid-template-columns: 1fr;
  gap: 20px;
}
.team{
  width: 100%;
  height: 100%;
}
.overlay {
    width: 100%;
    padding: 5px;
    height: 200px;
  
}
}
